
.body{
  background-image: linear-gradient(blue);
  
}
.app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #00ffff;
  text-align: center;
  border-color: black;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  background-color: #ccc;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  color:black;
  background-color: blueviolet;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 2px solid black;
}
